html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif;
}

.background {
  /* background: linear-gradient(180deg, #544e5d, #0c1630); */
  height: 100%;
}

body main {
  max-width: 512px;
  margin: 0 auto;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.radix-themes {
  --default-font-family: 'Noto Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)',
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --heading-font-family: 'Noto Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)',
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --strong-font-family: 'Noto Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)',
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --em-font-family: 'Noto Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)',
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}